.chat_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: var(--dark);
    border-radius: .5rem 2rem 2rem .5rem;
}

.chat_input_wrap {
    display: grid;
    grid-template-columns: var(--chat-input-height) auto var(--chat-input-height);
    width: calc(100% - 1rem);
    height: var(--change-height);
    margin: .5rem;
    align-self: center;
    place-items: center;
    justify-self: flex-end;
    background-color: var(--grey);
    border-radius: 3rem;
}

.chat_input {
    display: grid;
    place-items: center;
    width: 100%;
    /* border-radius: 3rem; */
    background-color:var(--grey);
    border: 0;
    padding: 0 1rem;
    font-family: 'Outfit';
    color: var(--font-color);
    font-size: 1vw;
    overflow: auto;
    transition: all 100ms ease
}

.chat_input::placeholder {

    font-family: 'Outfit';
    color: var(--dark);
    font-size: 1vw;
    font-weight: 600;
}

.upload_image {
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: var(--chat-input-height);
    height: var(--chat-input-height);
    font-family: 'Outfit';
    font-size: 2vw;
    font-weight: 500;
    color: white;
    background-color: var(--blue);
}

.send_icon {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: var(--chat-input-height);
    height: var(--chat-input-height);
    background-color: var(--blue);
    border-radius: 50%;
}

.chat_message_display {
    /* position: relative; */
    height: calc(100% - var(--chat-input-height));
    max-height: calc(100% - var(--chat-input-height));
    width: 100%;
    padding: 1rem;
    color: var(--font-color);
    font-family: 'Outfit';
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chat_message_display::-webkit-scrollbar-thumb {
    background: var(--grey);
}

.chat_message_display::-webkit-scrollbar {
    background-color: var(--dark);
    width: 5px;
}

.chat_user_message_wrap {
    display: grid;
    grid-template-columns: calc(2.5vw + 1rem) auto;
    flex-direction: row;
    margin: 1rem 0;
}

.chat_user_msg {
    display: flex;
    align-self: center;
    width: clamp( 45ch, 50%, 75ch );
    max-width: 50%;
}

.chat_user_icon {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: var(--blue);
    /* margin: 0 1rem; */
}

.user_is_typing {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: calc(100% - 3vw - 1rem);
    color: white;
    z-index: 4;
}

@keyframes reappear {
    0%{
        opacity: 1
    } 50% {
        opacity: .5;
    } 100% {
        opacity: 1
    }
}

.user_is_typing_ellipse {
    background-color: white;
    border-radius: 50%;
    width: .5vw;
    margin: 0 .1rem;
    height: auto;
    aspect-ratio: 1;
    animation: reappear 1s ease infinite;
}

@keyframes fadeIn {
    0% {
        transform: translate(0, -10%);
    } 100% {
        transform: translate(0, 0);
    }
}
