.chat_wrap {
    position: relative;
    display: flex;
    flex-direction: column;
    width: calc(100% - 3rem);
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
    background-color: var(--dark);
    border-radius: .5rem 2rem 2rem .5rem;
}

.chat_input_wrap {
    display: grid;
    grid-template-columns: var(--chat-input-height) auto var(--chat-input-height);
    width: calc(100% - 1rem);
    height: var(--change-height);
    margin: .5rem;
    align-self: center;
    place-items: center;
    justify-self: flex-end;
    background-color: var(--grey);
    border-radius: 3rem;
}

.chat_input {
    cursor: text;
    display: grid;
    align-items: center;
    /* place-items: center; */
    min-height: var(--icon-size);
    width: 100%;
    /* border-radius: 3rem; */
    background-color:var(--grey);
    border: 0;
    padding: 0 1rem;
    font-family: 'Outfit';
    color: var(--font-color);
    font-size: 1vw;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--dark);
    transition: all 100ms ease;
    outline: none;
    z-index: 2;
}

.chat_input:empty::before {
    content: "send a message";
    position: absolute;
    font-family: 'Outfit';
    color: var(--dark);
    font-size: 1vw;
    font-weight: 600;
}

.chat_input::placeholder {

    font-family: 'Outfit';
    color: var(--dark);
    font-size: 1vw;
    font-weight: 600;
}

.upload_image {
    cursor: pointer;
    display: grid;
    place-items: center;
    border-radius: 50%;
    width: var(--chat-input-height);
    height: var(--chat-input-height);
    font-family: 'Outfit';
    font-size: 2vw;
    font-weight: 500;
    color: white;
    background-color: var(--blue);
}

.send_icon {
    cursor: pointer;
    display: grid;
    place-items: center;
    width: var(--chat-input-height);
    height: var(--chat-input-height);
    background-color: var(--blue);
    border-radius: 50%;
}

.chat_message_display {
    /* position: relative; */
    display: flex;
    /*that's just a smartass solution :)*/
    flex-direction: column-reverse;
    height: calc(100% - var(--chat-input-height));
    max-height: calc(100% - var(--chat-input-height));
    width: 100%;
    padding: 1rem;
    color: var(--font-color);
    font-family: 'Outfit';
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    scrollbar-color: var(--grey) var(--dark);
}

.chat_message_display::-webkit-scrollbar-thumb {
    background: var(--grey);
}

.chat_message_display::-webkit-scrollbar {
    background-color: var(--dark);
    width: 5px;
}

.chat_user_message_wrap {
    display: grid;
    /* align-items: center; */
    grid-template-columns: calc(var(--icon-size) + 1rem) auto;
    flex-direction: row;
    margin: 1rem 0;
}

.chat_user_msg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    width: clamp( 45ch, 50%, 75ch );
    max-width: 50%;
    white-space: pre-wrap;
}

.chat_user_msg  > * {
    display: flex;
    margin: 0;
    justify-self: center;
    white-space: pre-wrap;
}

.chat_user_msg  > p > * {

    white-space: pre-wrap;

}

.chat_user_msg > span > * {
    margin: 0;
    justify-self: center;
}

.chat_user_icon {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    background-color: var(--blue);
    /* margin: 0 1rem; */
}

.user_is_typing {
    position: absolute;
    display: flex;
    flex-direction: row;
    top: calc(100% - 3vw - 1rem);
    color: white;
    z-index: 4;
}

@keyframes reappear {
    0%{
        opacity: 1
    } 50% {
        opacity: .5;
    } 100% {
        opacity: 1
    }
}

.user_is_typing_ellipse {
    background-color: white;
    border-radius: 50%;
    width: .5vw;
    margin: 0 .1rem;
    height: auto;
    aspect-ratio: 1;
    animation: reappear 1s ease infinite;
}

@keyframes fadeIn {
    0% {
        transform: translate(0, -10%);
    } 100% {
        transform: translate(0, 0);
    }
}

.remote, .webcam {
    width: calc( 100% - 1rem );
    height: calc( 100% - 1rem );
    background-color: var(--grey);
    align-self: center;
    justify-self: center;
    border-radius: .4rem;
    /* margin: 1rem 0; */
}

.end_call_button {
    position: absolute;
    display: grid;
    place-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(var(--icon-size) + 2rem);
    height: calc(var(--icon-size) + 2rem);
    background-color: var(--dark);
    border-radius: 50%;
}

.display_call_wrap {
    position: relative;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 50% 50%;
    width: 100%;
    height: 70%;
    max-height: 100%;
    overflow: hidden;
    background-color: var(--bg);
}

.received_call_wrap {
    position: absolute;
    display: grid;
    --row-height: calc(var(--icon-size) + 2rem);
    grid-template-rows: var(--row-height) auto;
    inset: 50%;
    transform: translate(-50%, -50%);
    width: calc( var(--icon-size) * 5 + 2rem );
    height: calc( var(--icon-size) * 7 + 2rem );
    max-height: calc( var(--icon-size) * 7 + 2rem );
    background-color: var(--bg);
    z-index: 1;
    border-radius: 5px;
    overflow: hidden;
}

.wrap_call_icon {
    display: grid;
    align-self: center;
    justify-self: center;
    place-items: center;
    background-color: var(--green);
    width: calc(var(--icon-size) + 1rem);
    height: calc(var(--icon-size) + 1rem);
    border-radius: 50%;
    transition: all 100ms ease;
    grid-row: span 3;

}

.wrap_call_icon:hover {
    background-color: var(--grey);
}

.call_desc {
    justify-self: center;
    margin: 1rem 0;
    font-family: 'Outfit';
    font-size: 1.5vw;
    padding: 0 2rem;
    word-break: keep-all;
    text-align: center;
    max-width: clamp( 45ch, 050%, 75ch );
    grid-row: span 1/3;
}

.end_call_icon svg {
    background-color: tomato
}

.chat_conversation_wrap {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

.chat_start_conversation {
    display: grid;
    place-items: center;
    grid-template-rows: auto auto
}

.chat_start_conversation > p {
    font-family: 'Outfit';
    font-size: 1.6vw;
    font-weight: 600;
    color: var(--grey);
    max-width: 12ch;
    word-break: keep-all;
    text-align: center;
}

.upload_image > input {
    cursor: inherit;
    position: absolute;
    opacity: 0;
    width: var(--icon-size)
}

