.misc_wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    background-color: var(--dark);
}

.appearance_wrap {
    background-color: var(--dark);
}

.privacy_wrap {
    border-radius: 0 2rem 0 2rem;
    background-color: var(--bg);

}

.account_wrap {
    background-color: var(--dark);
}

.title {
    font-family: 'Outfit';
    font-size: 2vw;
    font-weight: bold;
    color: white;
    margin: 1rem;
}

.setting_title {
    font-family: 'Outfit';
    font-size: 1vw;
    font-weight: bold;
    color: white;
    /* margin: 1rem; */
}

.font_size_wrap {
    display: grid;
    grid-template-columns: auto auto;
    align-items: flex-end;
    font-family: "Outfit";   
    color: white;
    margin: 1rem;
    vertical-align: baseline;
}

.font_size_icon {
    position: relative;
    display: flex;
    align-items: flex-end;
    font-family: inherit;
    font-weight: bold;
    font-size: 1vw;
    width: 3vw;
    height: 3vw;
    vertical-align: middle;
    line-height: normal;
    margin: 0 !important;
    padding: 0 !important;
}

.font_size_icon > p {
    position: absolute;
    top: 50%;
    /* left: 50%; */
    margin: 0 !important;
    padding: 0 !important;
}

.font_size_align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.font_size_align div:first-child p { 
    top: 50%;
}

.font_size_align div:nth-child(2) p {
    top: 35%
}

.font_size_align div:nth-child(3) p {
    top: 20%
}

.highlight_wrap {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    margin: 1rem;
}

.highlight_button {
    position: relative;
    width: 4vw;
    height: 2vw;
    background-color: var(--bg);
    border-radius: 3rem;
}

.highlight_button_inside {
    position: absolute;
    left: 0;
    width: 2vw;
    height: 2vw;
    background-color: var(--grey);
    border-radius: 50%;
}