.navbar_display {
    position: relative;
    display: grid;
    grid-template-columns: var( --main-chat-proportion );
    height: calc(100%);
    align-self: center;
}

@keyframes reappear {
    0% {
        width: 100%;
        background-position: 0% 0%;  
    }
    90% {
        /* width: 0%; */
        background-position: 100% 0;
    } 100%{
        width: 0%
    }
}

.navbar_display::after, .navbar_display::before {
    display: block;
    content: '';
    top: 0;
    position: absolute;
    width: calc(100% - 3rem);
    height: 100%;
    background: linear-gradient( to right, 
    var(--bg) 30%, 
    var(--blue) 30%, 
    var(--blue) 60%, 
    var(--pink) 10% 
    );    
    background-size: 300% 100%;
    z-index: 2;
    animation: reappear 1s ease forwards;
}

.search_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show_user_wrap {
    position: absolute;
    width: calc( 20% - 1rem );
    top: 100%;
    background-color: var(--grey);
    border-radius: 1rem;
    z-index: 5;
}

.show_user_wrap > div:first-child {
    border-radius: 1rem 1rem 0 0;
}

.show_user_wrap > div:last-child {
    border-radius:  0 0 1rem 1rem;
}

.show_user_wrap > div:only-child {
    border-radius: 1rem;
}

.show_user {
    display: grid;
    grid-template-columns: calc( var(--icon-size) + 1rem ) auto;
    align-items: center;
    height: fit-content;
    padding: 0 1rem;
    color: var(--font-color);
    font-size: 1.5vw;
    font-weight: 500;
    transition: all 100ms ease;
}

.show_user:hover {
    background-color: #414556;
}

.search_display {
    display: grid;
    grid-template-columns: calc(var(--icon-size) + 1rem) auto;
    place-items: center;
    width: calc( 100% - 2rem );
    height: var(--icon-size);
    background-color: var(--grey);
    border-radius: 3rem;
}

.search {
    display: grid;
    place-items: center;
    width: calc( 100% - 2rem );
    height: var(--icon-size);
    background-color: var(--grey);
    border: 0;
    border-radius: 2vw;
    font-family: 'Outfit';
    font-size: 1.5vw;
    color: var( --font-color );
    /* padding: 0 .5rem; */
}

.search::placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Outfit';
    font-size: 1.5vw;
    font-weight: 500;
    color: var( --dark );
}

.search_icon {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: all 300ms ease;
}

.call_icon, .menu_icon {
    width: var(--icon-size);
    height: var(--icon-size);
    align-self: center;
    justify-self: center; 
}

.search_display:focus-within .search_icon, 
.search_display:active .search_icon {    
    transform: rotate(-80deg);
}

.display_user {
    display: grid;
    width: 18%;
    grid-template-columns: var(--icon-size) auto;
    place-items: center;
    font-family: 'Outfit';
    font-size: 1.5vw;
    font-weight: 500;
    color: var( --font-color );
}

.user_profile {
    width: var(--icon-size);
    height: var(--icon-size);
    border-radius: 50%;
    background-color: var(--blue);
}

.call_and_menu {
    display: grid;
    align-self: center;
    justify-items: end;
    grid-template-columns: 50% 50%;
    width: calc( 20% - 2rem );
}

.display_right {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3rem);
}

.align_username {
    justify-self: flex-start;
    margin: 0 1rem;
}

.call_options {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: space-around;
    align-items: center;
    margin: 0 1rem;
    background-color: var(--blue);
    width: 0;
    max-width: calc( var(--icon-size) * 2 + 1rem );;
    overflow: hidden;
    /* width: 0; */
    height: 2vw;
    border-radius: 3px;
    transition: all 100ms ease;
}

.wrap_call > * {
    transition: all 100ms ease;
}

.wrap_call:hover .call_options, 
.wrap_call:active .call_options,
.wrap_call:focus .call_options {
    width: calc( var(--icon-size) * 2 + 1rem );
}

.wrap_call {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
}

.wrap_call > span {
    align-self: center;
}

.voice_call_icon {
    width: var(--icon-size);
    height: var(--icon-size);
    align-self: center;
    justify-self: center; 
    /* margin: 0 1rem; */
}
