.navbar_display {
    display: grid;
    grid-template-columns: var( --main-chat-proportion );
    height: calc(10%-2rem);
}

.search_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.show_user_wrap {
    position: absolute;
    width: calc( 20% - 1rem );
    top: 10%;
    background-color: var(--grey);
    border-radius: 1rem;
}

.show_user_wrap > div:first-child {
    border-radius: 1rem 1rem 0 0;
}

.show_user_wrap > div:last-child {
    border-radius:  0 0 1rem 1rem;
}

.show_user_wrap > div:only-child {
    border-radius: 1rem;
}

.show_user {
    display: grid;
    grid-template-columns: calc( 2.5vw + 1rem ) auto;
    align-items: center;
    height: fit-content;
    padding: 0 1rem;
    color: var(--font-color);
    font-size: 1.5vw;
    font-weight: 500;
    transition: all 100ms ease;
}

.show_user:hover {
    background-color: #414556;
}

.search_display {
    display: grid;
    grid-template-columns: calc(2.5vw + 1rem) auto;
    place-items: center;
    width: calc( 100% - 2rem );
    height: 2.5vw;
    background-color: var(--grey);
    border-radius: 3rem;
}

.search {
    display: grid;
    place-items: center;
    width: calc( 100% - 2rem );
    height: 2.5vw;
    background-color: var(--grey);
    border: 0;
    border-radius: 2vw;
    font-family: 'Outfit';
    font-size: 1.5vw;
    color: var( --font-color );
    /* padding: 0 .5rem; */
}

.search::placeholder {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    font-family: 'Outfit';
    font-size: 1.5vw;
    font-weight: 500;
    color: var( --dark );
}

.search_icon {
    width: 100%;
    height: 100%;
    transform-origin: center;
    transition: all 300ms ease;
}

.call_icon, .menu_icon {
    width: 2.5vw;
    height: 2.5vw;
    align-self: center;
    justify-self: center; 
}

.search_display:focus-within .search_icon, 
.search_display:active .search_icon {    
    transform: rotate(-80deg);
}

.display_user {
    display: grid;
    width: 18%;
    grid-template-columns: 2.5vw auto;
    place-items: center;
    font-family: 'Outfit';
    font-size: 1.5vw;
    font-weight: 500;
    color: var( --font-color );
}

.user_profile {
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    background-color: var(--blue);
}

.call_and_menu {
    display: grid;
    align-self: center;
    justify-items: end;
    grid-template-columns: 50% 50%;
    width: calc( 20% - 2rem );
}

.display_right {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 3rem);
}

.align_username {
    justify-self: flex-start;
    margin: 0 1rem;
}